<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MidPointUpdatingService.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <MidPointUpdatingService.Config>
            <setting name="BASEURL" serializeAs="String">
                <value>http://localhost:8080/midpoint</value>
            </setting>
            <setting name="AUTHUSR" serializeAs="String">
                <value>administrator</value>
            </setting>
            <setting name="AUTHPWD" serializeAs="String">
                <value>5ecr3t</value>
            </setting>
            <setting name="CACHEFLD" serializeAs="String">
                <value>Midpoint.ADPassword.Cache</value>
            </setting>
            <setting name="QUEUEFLD" serializeAs="String">
                <value>Midpoint.ADPassword.Queue</value>
            </setting>
        </MidPointUpdatingService.Config>
    </userSettings>
</configuration>