<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <appSettings>
        <add key="BASEURL" value="http://midpoint-dev.ibacz.cz:8080/midpoint"/>
        <add key="AUTHUSR" value="administrator" />
        <add key="AUTHPWD" value="5ecr3t"/>
        <add key="QUEUEFLD" value="Midpoint.ADPassword.Queue"/>
    </appSettings>
</configuration>
